@model InstituicaoModel
@{
    ViewData["Title"] = "Editar Cargo";
}
<div class="">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger  btn-close" arial-label="close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
            <button type="button" class="btn btn-danger  btn-close" arial-label="close"></button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1 class="display-4">Editar Instituição</h1>

    <form asp-controller="Instituicao" asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label for="nome">Nome</label>
            <input for="uppercase" type="text" asp-for="NomeInstituicao" class="form-control">
            @Html.ValidationMessageFor(x => x.NomeInstituicao)
            <label for="nome">CNPJ</label>
            <input for="uppercase" id="cnpjInput" name="cnpj" type="text" asp-for="CNPJ" class="form-control">
            @Html.ValidationMessageFor(x => x.CNPJ)
        </div>
       
        <br />
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a class="btn btn-secondary" asp-controller="Instituicao" asp-action="Index" role="button"> Voltar</a>
    </form>

</div>
